<footer class="footer">
    <div class="footer__container">
        <section>
            <h2 class="footer__title">Sobre</h2>
            <p class="footer__about-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum a congue nisi, vitae cursus odio.
                Morbi ut semper neque, a fringilla augue. Fusce non orci fringilla, viverra augue ac, cursus elit.
                Aenean porta posuere metus, vel lacinia nisi iaculis eleifend. Suspendisse sollicitudin purus id ipsum
                auctor auctor. Phasellus eget dolor lacus. Pellentesque lorem justo, fringilla vitae iaculis id, semper
                pharetra nibh. Integer fermentum ac mi nec luctus. Aliquam euismod risus sit amet imperdiet porttitor.
                Nulla sit amet lacus ac nulla fringilla hendrerit. Sed interdum sapien dui, quis pharetra velit aliquam
                ac. Mauris non ex accumsan, pellentesque lacus ut, vulputate ipsum. Ut vel mauris leo.
            </p>
        </section>
        <address>
            <h2 class="footer__title">Contato</h2>
            <ul>
                <li>
                    <i class="fa-sharp fa-solid fa-envelope"></i>
                    email@email.com
                </li>
                <li>
                    <i class="fa-solid fa-phone"></i>
                    (00) 0000-00000
                </li>
                <li>
                    <i class="fa-brands fa-whatsapp"></i>
                    (00) 0000-00000
                </li>
            </ul>
        </address>
    </div>
    <section class="footer__copyright">
        &copy; Todos os direitos reservados
    </section>
</footer>